# https://dev.to/vvo/how-to-add-firebase-service-account-json-files-to-vercel-ph5
# Make sure to add single quote here
GOOGLE_CREDENTIALS='Your JSON value'

ALLOWED_ORIGINS=https://acme.com,https://my-app.org